<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

</head>
<body>
  <%- include('partials/flash') %>
    <h1> <%= user.username %> </h1>
    <h1> <%= user.Dob %> </h1>
    <a href="/createpost"> Create A Post</a>
   
</body>
</html>